
body {
  margin: 0;
}


.nav-link {
  border-radius: 8px; /* Fallback for custom border radius */
  padding-left: 3px;
  padding-right: 3px;
  margin-left: 3px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.slider-container {
    width: 80%;
    margin: auto;
  }
  
 
  



